.s-auth {
  &__form {
    margin-top: 40px;
  }

  &__submit {
    margin-top: 25px;
  }

  &__link {
    text-decoration: underline;
  }

  &--updated-pass {
    font-size: 20px;
    font-weight: bold;
  }

  .v-card {
    padding: 7% 15%;
    width: 800px;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 20px;

      h5 {
        margin-top: 10px;
      }
    }
  }

  .v-btn:not(.v-btn--round).v-size--large {
    min-width: 254px;
  }

  @media (max-width: 959px) {
    .v-card {
      width: 100%;
    }
  }

  @media (max-width: 599px) {
    .v-card.theme--light.v-card--outlined {
      border: 0;
      padding: 50px 0;
      width: 100%;

      .v-card__title {
        font-size: 1.25rem;

        h5 {
          margin-top: 0;
        }
      }
    }

    .v-text-field--outlined > .v-input__control > .v-input__slot {
      font-size: 14px;
      min-height: 45px;
    }
  }
}
