<template>
  <router-view />
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'Authenticate',
})
export default class Authenticate extends Vue {}
</script>
