<template>
  <div class="s-auth">
    <v-card outlined class="mx-auto text-center">
      <v-card-title class="d-block font-weight-bold px-0 py-0">
        <h3>SEKHMED</h3>
        <h5>{{ $t('login.title') }}</h5>
      </v-card-title>

      <v-card-text class="py-0 s-auth__form">
        <ValidationObserver ref="observer" v-slot="{ invalid, validated }">
          <form @submit.prevent>
            <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
              <v-text-field
                outlined
                :placeholder="$t('placeholder.email')"
                v-model="auth.email"
                :error-messages="errors"
                maxlength="255"
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" name="password" rules="required|format_password|min:8">
              <v-text-field
                outlined
                :placeholder="$t('placeholder.password')"
                v-model="auth.password"
                :error-messages="errors"
                :type="'password'"
                maxlength="100"
              ></v-text-field>
            </ValidationProvider>

            <v-btn
              @click="login"
              class="s-auth__submit s-auth__btn font-weight-bold"
              color="info"
              large
              depressed
              :disabled="invalid || !validated || isSubmiting"
              :loading="isSubmiting"
            >
              {{ $t('buttons.login') }}
            </v-btn>
          </form>
        </ValidationObserver>
      </v-card-text>

      <v-card-actions class="justify-center px-0 py-0 flex-column">
        <v-btn to="password/forgot" class="mt-2 mb-2 s-auth__link" color="info" text large depressed>
          {{ $t('links.forgot_password') }}
        </v-btn>

        <v-btn to="register" class="font-weight-bold" color="primary" large depressed>
          {{ $t('buttons.register') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import { mapActions } from 'vuex';
import AuthService from '@/shared/api-services/auth.service';

import { Auth } from '@/shared/models/auth';

@Component({
  name: 'Login',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  methods: {
    ...mapActions('auth', ['updatedToken']),
  },
})
export default class Login extends Vue {
  private updatedToken: (token: string) => void;

  auth: Auth = new Auth();
  isSubmiting: boolean = false;

  login() {
    if (this.isSubmiting) {
      return;
    }
    this.isSubmiting = true;

    AuthService.login(this.auth.formToJSON()).then(
      (res) => {
        this.isSubmiting = false;

        this.updatedToken(res.access_token);

        this._redirectAfterAuth();
      },
      (error: any) => {
        this.isSubmiting = false;
      },
    );
  }

  private _redirectAfterAuth() {
    const redirect = (this.$route.query.redirect as string) || '/';
    this.$router.push(redirect);
  }
}
</script>
