<template>
  <div class="s-auth">
    <v-card outlined class="mx-auto text-center">
      <v-card-title class="d-block font-weight-bold px-0 py-0">
        <h3>SEKHMED</h3>
        <h5>{{ $t('forgot_password.title') }}</h5>
      </v-card-title>

      <v-card-text class="py-0" v-if="!isCompleted">
        <p class="font-size-18 mb-0">{{ $t('forgot_password.text_1') }}</p>
        <p class="font-size-18 mb-0">{{ $t('forgot_password.text_2') }}</p>
      </v-card-text>

      <v-card-text class="py-0 s-auth__form" v-if="!isCompleted">
        <ValidationObserver ref="observer" v-slot="{ invalid, validated }">
          <form @submit.prevent>
            <ValidationProvider v-slot="{ errors }" name="email" rules="required|email">
              <v-text-field
                outlined
                :placeholder="$t('placeholder.email')"
                v-model="auth.email"
                :error-messages="errors"
                maxlength="255"
              ></v-text-field>
            </ValidationProvider>

            <v-btn
              @click="confirmEmail"
              class="s-auth__submit s-auth__btn font-weight-bold"
              color="primary"
              large
              depressed
              :disabled="invalid || !validated || isLoading"
              :loading="isLoading"
            >
              {{ $t('buttons.send_email') }}
            </v-btn>
          </form>
        </ValidationObserver>
      </v-card-text>

      <v-card-text v-if="isCompleted">
        <p class="font-size-18 mb-0 font-weight-bold">{{ $t('forgot_password.text_3') }}</p>
        <p class="font-size-18 mb-0" v-html="$t('forgot_password.text_4')"></p>
      </v-card-text>

      <v-card-actions class="justify-center px-0 py-0" v-if="!isCompleted">
        <v-btn to="/login" class="mt-2 mb-2 s-auth__link" color="info" text large depressed>
          {{ $t('links.return_login') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { ValidationObserver, ValidationProvider } from 'vee-validate';

import { Auth } from '@/shared/models/auth';
import AuthService from '@/shared/api-services/auth.service';
import VueSnotify from '@/shared/utils/vue-snotify';

@Component({
  name: 'PasswordForgot',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
})
export default class PasswordForgot extends Vue {
  auth: Auth = new Auth();
  isCompleted: boolean = false;
  isLoading: boolean = false;

  confirmEmail() {
    if (this.isLoading) {
      return;
    }
    this.isLoading = true;

    AuthService.forgotPassword({ email: this.auth.email }).then(
      (res) => {
        this.isLoading = false;
        this.isCompleted = true;
      },
      (error) => {
        VueSnotify.error(error);
        this.isLoading = false;
      },
    );
  }
}
</script>
