<template>
  <div class="s-auth">
    <v-card outlined class="mx-auto text-center">
      <v-card-title class="d-block font-weight-bold px-0 py-0" v-if="!isCompleted">
        <h3>SEKHMED</h3>
        <h5>{{ $t('reset_password.title') }}</h5>
      </v-card-title>

      <v-card-text class="py-0" v-if="!isCompleted">
        <p class="font-size-18 mb-0">{{ $t('reset_password.text_1') }}</p>
        <p class="font-size-18 mb-0">{{ $t('reset_password.text_2') }}</p>
      </v-card-text>

      <v-card-text class="py-0 s-auth__form" v-if="!isCompleted">
        <ValidationObserver ref="observer" v-slot="{ invalid, validated }">
          <form @submit.prevent>
            <ValidationProvider v-slot="{ errors }" name="password" rules="required|format_password|min:8">
              <v-text-field
                outlined
                :placeholder="$t('placeholder.password')"
                v-model="auth.password"
                :error-messages="errors"
                :type="'password'"
                maxlength="100"
              ></v-text-field>
            </ValidationProvider>

            <ValidationProvider v-slot="{ errors }" name="password_confirmation" rules="required|confirmed:password">
              <v-text-field
                outlined
                :placeholder="$t('placeholder.password_confirm')"
                v-model="auth.password_confirmation"
                :error-messages="errors"
                :type="'password'"
                maxlength="100"
              ></v-text-field>
            </ValidationProvider>

            <v-btn
              class="s-auth__submit s-auth__btn font-weight-bold"
              v-bind:class="{ 'mb-0': !isCompleted }"
              color="primary"
              large
              depressed
              @click="confirmResetPass"
              :disabled="invalid || !validated || isLoading"
              :loading="isLoading"
            >
              {{ $t('buttons.set_password') }}
            </v-btn>
          </form>
        </ValidationObserver>
      </v-card-text>

      <v-card-text v-if="isCompleted" class="s-auth--updated-pass">{{ $t('reset_password.text_3') }}</v-card-text>

      <v-card-actions class="justify-center px-0 py-0" v-if="isCompleted">
        <v-btn to="/login" class="mt-5 font-weight-bold" color="info" large depressed>{{ $t('buttons.login') }}</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mixins } from 'vue-property-decorator';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import { Auth } from '@/shared/models/auth';
import AuthService from '@/shared/api-services/auth.service';
import VueSnotify from '@/shared/utils/vue-snotify';
import { sekRouter } from '@/shared/minxins/navigate';

@Component({
  name: 'PasswordReset',
  components: {
    ValidationProvider,
    ValidationObserver,
  },
})
export default class PasswordReset extends Vue {
  auth: Auth = new Auth();
  isCompleted: boolean = false;
  isLoading: boolean = false;

  private created() {
    const query: any = this.$router.currentRoute.query;
    if (query.token && query.id) {
      this.auth.id = query.id;
      this.auth.token = query.token;
      sekRouter.navigate({ name: 'password-reset' });
    }
  }

  onfirmResetPass() {
    if (this.isLoading) {
      return;
    }
    this.isLoading = true;

    AuthService.resetPassword(this.auth.formToJSON()).then(
      (res) => {
        this.isLoading = false;
        this.isCompleted = true;
      },
      (error) => {
        VueSnotify.error(error);
        this.isLoading = false;
      },
    );
  }
}
</script>
