<template>
  <div>
    <h2>Welcome to register page</h2>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'Register',
})
export default class Register extends Vue {
  title = 'This is Register';
}
</script>
