<template>
  <div>
    <h2>Welcome to user detail</h2>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'DetailUser',
})
export default class DetailUser extends Vue {
  title: string = 'This is Detail User';
}
</script>
