<template>
  <div>
    <h2>Welcome to my page</h2>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'MyPage',
})
export default class MyPage extends Vue {
  title = 'This is MyPage';
}
</script>
