<template>
  <div>
    <div class="mb-4">
      <h3 class="s-view__header">The title view</h3>
      <p class="s-view__sub-header mb-0">The subtitle view</p>
    </div>

    <div class="s-features d-flex justify-end mb-4">
      <v-btn color="info" text small depressed class="px-0">Name of button</v-btn>
    </div>

    <div v-for="(item, i) in users" :key="i">
      <span>{{ i + 1 }}:</span>
      {{ item.name }}
    </div>
    <v-pagination
      class="mt-4"
      v-if="pagination.isPagination"
      v-model="pagination.current_page"
      :length="pagination.last_page"
      :total-visible="pagination.total_visible"
      :disabled="isPagination"
      @input="onPageChange"
    ></v-pagination>
    <router-view />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import userService from '@/shared/api-services/user.service';
import { Pagination } from '@/shared/models/pagination';
import vueSnotify from '@/shared/utils/vue-snotify';

@Component({
  name: 'Users',
})
export default class Users extends Vue {
  users: any[] = [];
  pagination: Pagination = new Pagination();

  isPagination: boolean = false;
  isLoading: boolean = false;

  private created() {
    // this.fetchNotices();
  }

  private async fetchNotices() {
    if (this.isLoading) {
      return;
    }
    this.isLoading = true;

    const params = {
      ...this.pagination.hasJSON(),
    };

    try {
      const res: any = await userService.getUsers(params);
      this.users = res.data;
      this.pagination.deserialize(res);
      this.isLoading = false;

      this.isPagination = false;
    } catch (error) {
      vueSnotify.error(error);
      this.isLoading = false;
      this.isPagination = false;
    }
  }

  onPageChange() {
    if (this.isPagination) {
      return;
    }

    this.isPagination = true;
    // this.fetchNotices();
  }
}
</script>
