<template>
  <div class="s-view d-flex">
    <sidebar class="mr-3"></sidebar>

    <div class="s-view__ctn">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import LazyLoadService from '@/shared/utils/lazy-load.service';

@Component({
  name: 'Views',
  components: {
    sidebar: LazyLoadService.loadComponent('sidebar/sidebar'),
  },
})
export default class Views extends Vue {}
</script>
