<template>
  <v-card color="grey lighten-4" flat tile>
    <v-toolbar>
      <v-toolbar-title>SEKMED</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="switchLanguage">
        {{ selectedLang }}
        <v-icon>mdi-web</v-icon>
      </v-btn>

      <v-menu bottom left transition="scale-transition" v-if="isAuthenticated">
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on">
            ユーザー名
            <v-icon>mdi-chevron-down</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-for="(item, i) in menu" :key="i" :to="item.path">
            <v-list-item-title>{{ $t('header.menus.' + item.key) }}</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-title>{{ $t('header.menus.log_out') }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { mapActions, mapGetters } from 'vuex';
import { LANG } from '@/shared/enums/lang';
import { MENU } from '@/shared/constants/menu';

@Component({
  name: 'Header',
  methods: {
    ...mapActions('auth', ['userLogout']),
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated']),
  },
})
export default class Header extends Vue {
  userLogout: () => boolean;
  selectedLang: string = '';
  get isEnLang() {
    return this.selectedLang === LANG.EN;
  }

  menu = MENU;

  mounted() {
    if (!this.selectedLang) {
      this.selectedLang = this.$route.params.lang;
    }
  }

  switchLanguage() {
    const routePath = this.$route.path;
    const pathWithoutLang = routePath.split('/').slice(2).join('/');
    let lang: string;

    if (this.isEnLang) {
      lang = LANG.JA;
    } else {
      lang = LANG.EN;
    }

    const fullPath = `/${lang}/${pathWithoutLang}`;
    location.replace(fullPath);
  }

  logout() {
    const res: boolean = this.userLogout();
    if (res) {
      this.$router.push({ name: 'login' });
    }
  }
}
</script>
