<template>
  <v-card class="s-sidebar">
    <v-list dense>
      <v-list-item-group color="primary">
        <v-list-item v-for="(item, i) in menu" :key="i" :to="item.path">
          <v-list-item-content>
            <v-list-item-title v-text="$t('header.menus.' + item.key)"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="logout">
          <v-list-item-content>
            <v-list-item-title>{{ $t('header.menus.log_out') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { mapActions } from 'vuex';
import { MENU } from '@/shared/constants/menu';

@Component({
  name: 'Sidebar',
  methods: {
    ...mapActions('auth', ['userLogout']),
  },
})
export default class Sidebar extends Vue {
  userLogout: () => boolean;
  menu = MENU;

  logout() {
    const res: boolean = this.userLogout();
    if (res) {
      this.$router.push({ name: 'login' });
    }
  }
}
</script>

<style lang="scss">
@import './sidebar';
</style>
