<template>
  <div class="s-404 text-center">
    <h2>404</h2>
    <p>Page not found</p>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'ErrorPage',
})
export default class ErrorPage extends Vue {}
</script>

<style lang="scss">
@import './404';
</style>
