<template>
  <v-app>
    <my-header></my-header>

    <v-content>
      <v-container class="pt-4">
        <router-view />
        <vue-snotify />
      </v-container>
    </v-content>

    <v-card height="48">
      <v-footer class="font-weight-medium">
        <v-col class="text-center" cols="12">
          {{ new Date().getFullYear() }} —
          <strong>Sekmed</strong>
        </v-col>
      </v-footer>
    </v-card>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import LazyLoadService from '@/shared/utils/lazy-load.service';

@Component({
  name: 'App',
  components: {
    'my-header': LazyLoadService.loadComponent('my-header'),
  },
})
export default class App extends Vue {
  title: string = 'This is App';
}
</script>
